<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ulraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8"/>
<title>Vote - Depute participe Commission permanante</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<script type="text/javascript"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div th:include="layout"></div>

<div layout:fragment="content">
<h1 class="center">Participe Commission permanante</h1>
<div class="container col-md-5 col-sm-12 col-md-offsee ">
  <div class="panel panel-primary">
    <div class="panel-heading center" >Ajouter une participation Commission permanante</div>
    <div class="panel-body">
      <form th:action="@{/saveParticipeCP}" th:object="${participeCP}" method="post">
        <div class="form-group">
          <label for="post" class="cotrol-label">Post occupé : </label>
          <input type="text" name="posteCP" class="form-control" id="post" placeholder="post"/>
          <span class="red" th:errors="${participeCP.posteCP}"></span>
        </div>
        <div class="form-group">
          <label for="nsession" class="cotrol-label">Commission permanante : </label>
          <select class="form-control" name="comPerm">
            <option type="text" th:each="p:${commissions}" th:value="${p.idComPerm}" th:text="${p.nomComPerm}"></option>
          </select>
        </div>
        <div class="form-group">
          <label for="nsession" class="cotrol-label">Député conserné : </label>
          <select class="form-control" name="depute">
            <option type="text" th:each="a:${deputes}" th:value="${a.email}" th:text="${a.prenom}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </form>
    </div>
  </div>
</div>
<div class="container col-md-6 col-sm-8 ">
  <table class="table">
    <tr>
     <th> ID</th><th>POST</th><th>DEPUTE</th><th>COMMISSION</th><th>MODIFIER</th><th>SUPPRIMER</th>
    </tr>
    <tbody>
      <tr th:each="c:${participecps}">
        <td th:text="${c.idPCP}"></td>
        <td th:text="${c.posteCP}"></td>
        <td th:text="${c.depute.prenom}" ></td>
        <td th:text="${c.comPerm.nomComPerm}" ></td>
        <td><a th:href="@{editParticipeCP(idPCP=${c.idPCP})}">Modifier</a></td>
        <td><a onclick="return confirm('Voulez vous vraiment supprimer ?')" th:href="@{deleteParticipeCP(idPCP=${c.idPCP})}">Supprimer</a></td>
    </tr>
    </tbody>
  </table>
</div>



</div>
</body>
</html>